<div id="jobcard_controller_RESULT">
<% if @vehicle_cust %>
<div class="col-sm-4">
	<strong>Name:</strong> <%= @vehicle_cust.cust_Name %>
</div>
<div class="col-sm-4">
	<strong>Mobile No:</strong> <%= @vehicle_cust.cust_mobile %>
</div>
<% end %>
</div>