

@import "bootstrap-sprockets";
@import "bootstrap";

.alert-notice{
  background-color:#00FFee;
  
}

.myaddress{
  margin-top:0px;
  padding-top:0px;
}

.myborder{
  border: 1px solid black;
  margin-left:0px;
}

.myborder1{
  border: 0px dotted red;
}