<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'All Customer', customers_path%></li>	
  <li role="presentation" class="active"><%= link_to 'New Customer', new_customer_path%></li>
  <li role="presentation" class="active"><%= link_to 'Add New Vehcile', new_vehicle_path%></li>
  <li role="presentation" class="active"><%= link_to 'New Jobcard for Vehcile', new_jobcard_path%></li>
</ul>
